/logs
/WebContent/log
/WebContent/m8.jsp
/WebContent/test.js
/WebContent/test.jsp
/WebContent/WEB-INF/lib
/WebContent/WEB-INF/classes
/
/WebContent/uploadFiles
/logs/*
/.classpath
/.project
/target
/test
/src/com/spiritdata/test
/bin/