/logs
/doc
/doc/javadoc
/WebContent/log
/WebContent/m8.jsp
/WebContent/test.js
/WebContent/test.jsp
/WebContent/WEB-INF/lib
/WebContent/WEB-INF/classes
/
/WebContent/uploadFiles

/.classpath
/.project
/target
/test
/src/com/spiritdata/test
/bin/