<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Module">
<resultMap id="ModuleMap" type="Module">
  <id     column="id"          property="id"          jdbcType="VARCHAR" />
  <result column="pId"         property="parentId"    jdbcType="VARCHAR" />
  <result column="sort"        property="order"       jdbcType="INTEGER" />
  <result column="isValidate"  property="isValidate"  jdbcType="INTEGER" />
  <result column="moduleType"  property="moduleType"  jdbcType="INTEGER" />
  <result column="moduleName"  property="nodeName"    jdbcType="VARCHAR" />
  <result column="displayname" property="displayName" jdbcType="VARCHAR" />
  <result column="url"         property="url"         jdbcType="VARCHAR" />
  <result column="levels"      property="levels"      jdbcType="INTEGER" />
  <result column="style"       property="style"       jdbcType="INTEGER" />
  <result column="icon"        property="icon"        jdbcType="VARCHAR" />
  <result column="descn"       property="descn"       jdbcType="VARCHAR" />
</resultMap>

<select id="getList" resultMap="ModuleMap">
select * from plat_module
</select>

</mapper>