<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Module">
<resultMap id="ModuleMap" type="Module">
  <id     column="id"          property="id"          jdbcType="VARCHAR" />
  <result column="pId"         property="parentId"    jdbcType="VARCHAR" />
  <result column="sort"        property="order"       jdbcType="INTEGER" />
  <result column="isValidate"  property="isValidate"  jdbcType="INTEGER" />
  <result column="moduleType"  property="moduleType"  jdbcType="INTEGER" />
  <result column="moduleName"  property="nodeName"    jdbcType="VARCHAR" />
  <result column="displayname" property="displayName" jdbcType="VARCHAR" />
  <result column="url"         property="url"         jdbcType="VARCHAR" />
  <result column="levels"      property="levels"      jdbcType="INTEGER" />
  <result column="style"       property="style"       jdbcType="INTEGER" />
  <result column="icon"        property="icon"        jdbcType="VARCHAR" />
  <result column="descn"       property="descn"       jdbcType="VARCHAR" />
</resultMap>
<update id="update" parameterType="Module" >
    update plat_module
    <set >
      <if test="parentId != null" >
        p_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="levels != null" >
        levels = #{levels,jdbcType=INTEGER},
      </if>
      <if test="order != null" >
        sort = #{order,jdbcType=INTEGER},
      </if>
      <if test="isValidate != null" >
        isValidate = #{isValidate,jdbcType=INTEGER},
      </if>
      <if test="moduleType != null" >
        moduleType = #{moduleType,jdbcType=INTEGER},
      </if>
      <if test="nodeName != null" >
        moduleName = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        displayName = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="style != null" >
        style = #{style,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="descn != null" >
        descn = #{descn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
<select id="getList" resultMap="ModuleMap">
select * from plat_module
</select>
<delete id="delete" parameterType="java.lang.String" >
    delete from plat_module
    where id = #{id,jdbcType=VARCHAR}
</delete>
<insert id="insert" parameterType="Module" >
    insert into plat_module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parentId != null" >
        pid,
      </if>
      <if test="levels != null" >
        levels,
      </if>
      <if test="order != null" >
        sort,
      </if>
      <if test="isValidate != null" >
        isValidate,
      </if>
      <if test="moduleType != null" >
        moduleType,
      </if>
      <if test="nodeName != null" >
        moduleName,
      </if>
      <if test="displayName != null" >
        displayname,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="style != null" >
        style,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="descn != null" >
        descn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="levels != null" >
        #{levels,jdbcType=INTEGER},
      </if>
      <if test="order != null" >
        #{order,jdbcType=INTEGER},
      </if>
      <if test="isValidate != null" >
        #{isValidate,jdbcType=INTEGER},
      </if>
      <if test="moduleType != null" >
        #{moduleType,jdbcType=INTEGER},
      </if>
      <if test="nodeName != null" >
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="style != null" >
        #{style,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="descn != null" >
        #{descn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>