<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UGA">
<resultMap id="UserMap" type="User">
  <id     column="id"        property="userId"    jdbcType="VARCHAR" />
  <result column="loginName" property="loginName" jdbcType="VARCHAR" />
  <result column="userName"  property="userName"  jdbcType="INTEGER" />
  <result column="password"  property="password"  jdbcType="INTEGER" />
</resultMap>
<resultMap id="ModuleMap" type="Module">
  <id     column="id"          property="id"          jdbcType="VARCHAR" />
  <result column="pId"         property="parentId"    jdbcType="VARCHAR" />
  <result column="sort"        property="order"       jdbcType="INTEGER" />
  <result column="isValidate"  property="isValidate"  jdbcType="INTEGER" />
  <result column="moduleType"  property="moduleType"  jdbcType="INTEGER" />
  <result column="displayname" property="nodeName"    jdbcType="VARCHAR" />
  <result column="moduleName"  property="moduleName"  jdbcType="VARCHAR" />
  <result column="url"         property="url"         jdbcType="VARCHAR" />
  <result column="levels"      property="levels"      jdbcType="INTEGER" />
  <result column="style"       property="style"       jdbcType="INTEGER" />
  <result column="icon"        property="icon"        jdbcType="VARCHAR" />
  <result column="descn"       property="descn"       jdbcType="VARCHAR" />
</resultMap>

<select id="getUserList" resultMap="UserMap">
select * from plat_user
</select>

<select id="getModuleList" resultMap="ModuleMap">
select * from plat_module
</select>
<!-- 
 -->
<select id="getUserModuleList" resultType="hashmap">
select a.objId userId, a.moduleId from plat_module_org a, plat_user b where a.types='2' and a.objId=b.id order by userId
</select>
</mapper>