<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SM">
<resultMap id="userMap" type="GisSmUser">
  <id     column="V_USERID"      property="userId"          jdbcType="VARCHAR" />
  <result column="V_USER_CARDID" property="loginName"       jdbcType="VARCHAR" />
  <result column="V_XM"          property="userName"        jdbcType="INTEGER" />
  <result column="V_PASSWORD"    property="password"        jdbcType="INTEGER" />
  <result column="V_ZZJGID"      property="v_user_zzjgid"   jdbcType="VARCHAR"/>
  <result column="V_ZZJGDM"      property="v_user_zzjgdm"   jdbcType="VARCHAR"/>
  <result column="V_SSZZJGMC"    property="v_user_sszzjgmc" jdbcType="VARCHAR"/>
  <result column="V_SJZZJGDM"    property="v_user_sjzzjgdm" jdbcType="VARCHAR"/>
  <result column="V_SJZZJGMC"    property="v_user_sjzzjgmc" jdbcType="VARCHAR"/>
</resultMap>
<resultMap id="moduleMap" type="GisSmModule">
  <id     column="id"          property="id"          jdbcType="VARCHAR" />
  <result column="pId"         property="parentId"    jdbcType="VARCHAR" />
  <result column="sort"        property="order"       jdbcType="INTEGER" />
  <result column="isValidate"  property="isValidate"  jdbcType="INTEGER" />
  <result column="moduleType"  property="moduleType"  jdbcType="INTEGER" />
  <result column="displayname" property="nodeName"    jdbcType="VARCHAR" />
  <result column="moduleName"  property="moduleName"  jdbcType="VARCHAR" />
  <result column="url"         property="url"         jdbcType="VARCHAR" />
  <result column="levels"      property="levels"      jdbcType="INTEGER" />
  <result column="style"       property="style"       jdbcType="INTEGER" />
  <result column="icon"        property="icon"        jdbcType="VARCHAR" />
  <result column="descn"       property="descn"       jdbcType="VARCHAR" />
</resultMap>

<!-- 获取用户信息 -->
<select id="getUserList" resultMap="userMap">
select * from MG_USER
</select>

</mapper>