@charset "utf-8";
/* CSS Document */

/* body */
body {
  background-image:url('text.txt'); /*for IE6 防抖，也可以用一张图片URL*/
  background-attachment:fixed; /*是否存在这文件无所谓,要fixed,不能用scroll */
}
._body {background-color:white;  margin-left:2px; margin-top:2px;}

#logoImg_top {
  width:64px;
  height:76px;
  float:left;
  margin:5px 0 0 10px;
  background:url('../images/mainPage/jdLogo.png') no-repeat;
}

#titleImg_top {
  position:absolute;
  width:398px;
  height:76px;
  top:25px;
  left:85px;
  float:left;
  background:url('../images/mainPage/sysTitle.png') no-repeat;
}

#welcom_top {
  position:absolute;
  border:0px solid red;
}

#bar_top {
  position:absolute;
  width:600px;
  border:0px solid red;
  left:210px; top:87px;
}

#mainTab_top {
  position:absolute; top:0; left:0;
}

#quickFunc_top {
  position:absolute; top:0; right:0;
  border:0;
  border-left:1px solid #284318;
  background:url('../images/mainPage/mainTabBanner.jpg') repeat-x;
}

/*==============================*/
#topSegment {
  overflow:hidden;
  border:0;
  border-bottom:1px solid #284318;
  background:url('../images/mainPage/topBanner.jpg') repeat-x fixed #fff;
}

/*通用功能区*/
#commonFunc_top {
  position:absolute;
  margin-right:20px;
  margin-top:0px;
  height:26px;
  width:170px;
}
.mainTabButton {
  float:right;
  margin:4px;
  padding:1px 4px 0 4px;
  margin-right:8px;
  height:18px;
  line-height:18px;
  vertical-align:middle;
  cursor:pointer;
  border-radius:3px;
  -moz-border-radius:3px;
}
.imgTabButton {
  padding-left:20px;
}
.logout {
  background:url('../images/mainPage/logout.png') no-repeat;
  background-position:1px 1px;
}
.refreshCache {
  background:url('../images/mainPage/refresh.png') no-repeat;
  background-position:1px 2px;
}
.fullscrenn {
  background:url('../images/mainPage/expand.png') no-repeat;
  background-position: 1px 2px;
}

#commonFuncButton {
  position:absolute;
  height:26px;
  width:144px;
  left:13px;
  background:url('../images/mainPage/mainTabBanner_rev.jpg') repeat-x;
}
.cfLeft, .cfRight {
  position:absolute;
  margin:0;
  padding:0;
  width:13px;
  height:26px;
}
.cfLeft {
  background:url('../images/mainPage/mtabl_rev.png') no-repeat;
}
.cfRight {
  left:157px;
  background:url('../images/mainPage/mtabr_rev.png') no-repeat;
}
/*欢迎条*/
#welcom_top {
  float:right;
  margin-top:32px;
  right:20px;
  color:#fff;
}