@charset "utf-8";
/* CSS Document */

/*-- Body --*/
.mainPage { padding-top:5px; background:url(../images/sys/skin0/banner/mainPage.jpg) repeat-x; }
/*----*/

/*-- Table --*/
/*-- formTable --*/
.formTable, .formTableCenter { width:100%; }
.formTable td, .formTable th, formTableCenter td, formTableCenter th { padding:3px; height:20px; line-height:20px; border:1px solid #d5dfeb; }
.formTable label { display:block; float:right; }
.formTableCenter td, .formTableCenter th { text-align:center; }
/*-- viewTable --*/
.viewTable { width:100%; table-layout:fixed; }
.viewTable th ,.viewTable td{ padding:3px; height:20px; line-height:20px; border:1px solid #d5dfeb; }
.viewTable th { background-color:#e8ecf0; text-align:right; }
.viewTable td { padding-left:10px; }
.viewTable .viewTextarea textarea{ border:none; }
/*----*/

/*-- Banner --*/
/*-- titleBanner --*/
.titleBanner { padding-left:25px; height:24px; line-height:24px; vertical-align:middle; background:#e9f0f6; background:url(../images/sys/skin0/sys-main1.gif) no-repeat; }
.titleBanner span { font-size:14px; font-weight:bold; color:#0b3e69; }
.titleBanner input { float:right; margin-top:2px; +margin-top:-22px; margin-right:15px; }
/*-- functionBanner --*/
.functionBannerDiv { height:30px; width:100%; overflow:hidden; border-top:1px solid #8ebbda; border-bottom:1px solid #8ebbda; background:url(../images/sys/skin0/banner/banner_1.jpg) repeat-x; }
.functionBannerDiv .functionTitile { float:left; margin-left:10px; line-height:33px; height:33px; overflow:hidden; font-size:14px; font-weight:bold; color:#0b3e69; }
.functionBannerDiv .searchSpan { float:left; padding-top:6px; margin-left:5px; }
.functionBannerDiv .hasSelect { padding-top:5px; _height:20px; }
.functionBannerDiv .functionBanner { float:right; padding:0 5px; }
.functionBanner li { float:left; padding:7px 5px 5px 5px; margin:1px 1px 0 1px; cursor:pointer; }
.functionBanner li { _display:inline; }
.functionBanner li span { display:inline-block; padding-left:21px; height:14px; width:auto; padding-top:1px; padding-bottom:1px; overflow:hidden; background-position:0 0; background-repeat:no-repeat; }
.functionBanner li span { padding-top:2px\0; padding-bottom:0\0; }
.functionBanner li.hover, .functionBanner li.visited { margin:0; background:#eeeeb5; border:1px solid #cbbe97; }
.functionBanner li.active { margin:0; background:#fce08f; border:1px solid #cbbe97; }
.functionBanner li.grayed { cursor:default ; }
.functionBanner li.grayed span { background-position:0 -16px; color:#999; _height:15px; }
.Icon li span { padding-left:16px; }
.functionBannerDiv .apart { float:right; margin-top:8px; width:1px; height:15px; border-right:1px solid #8ebbda; border-left:1px solid #8ebbda; }
/*-- tableBanner --*/
.tableBanner { line-height:30px; height:30px; }
.tableBanner th, .tableBanner td { text-align:center;  background:url(../images/sys/skin0/banner/banner_3.jpg) repeat-x; }
.tableBanner th span, .tableBanner td span { font-weight:bold; display:inline-block; color:#000; }
.inTableBanner th,  .inTableBanner td{ height:18px; line-height:18px; font-weight:bold; background:url(../images/sys/skin0/banner/banner_1.jpg) repeat-x; }
/*----*/

/*-- Button/Text--*/
.textDefault { border:1px solid #d6d6d6; background-color:white; }
.textOver { border:1px solid #1873aa; background-color:white; }
.textFouce { border:1px solid #1873aa; background-color:#ffc; }
.buttonDefault { height:18px; height:19px\9\0; line-height:18px; +line-height:16px; width: auto; _width:0;  _vertical-align:1px; padding:0 10px; +padding:0 4px; _padding:0 10px; overflow-x:visible; border:1px solid #9fbbd1; background-color:white; color:#12428c; cursor:pointer; }
.buttonOver { border:1px solid #6997c9; background-color:#167f9d; color:#fff; }
.fileDefault { height:17px; line-height:17px; border:1px solid #617596; background-color:white; }
.fileOver { height:17px; line-height:17px; border:1px solid #1873aa; background-color:white; }
.fileFouce { height:17px; line-height:17px; border:1px solid #1873aa; background-color:#ffc; }
/*----*/

/*-- Radio/CheckBox --*/
.boxInput { display:inline-block; margin:2px 5px 1px 2px; padding-top:1px; height:14px; line-height:14px; overflow:hidden; }
.boxInput { +margin:0 5px 0 2px;}
.boxInput input { margin:0 3px 0 1px; padding:0; height:13px; width:13px; vertical-align:-3px; }
.boxInput input { +vertical-align:middle; }
.boxInput input { _vertical-align:2px; }
/*----*/

/*-- Form相关 --*/
.required { margin:3px; color:#F00; }
table
td.tdImg { text-align:center; height:auto; padding:0; }
td.tdImg span { display:inline-block; width:130px; overflow:hidden; }
td.tdImg img { width:125px; height:150px; border:0; }
.buttonDiv{ width:100%; text-align:center; margin-top:10px; +padding-bottom:1px; }
.buttonDiv input{ margin:0 10px; }
ul.tips { display:inline-block; *display:inline; zoom:1; padding-top:2px; *margin-left:-15px; vertical-align:middle; }
.hztLine { display:block; margin:7px 0; text-align:center; height:2px; font-size:0; line-height:0; overflow:hidden; width:100px; }
.hztLine span { display:inline-block; border-top:2px dashed #035ba2; width:70%; font-size:0; line-height:0; overflow:hidden; }
.vtLine { display:inline-block; +display:inline; margin:0 5px; +padding:0 2px; layout-flow:vertical-ideographic; vertical-align:top; text-align:center; height:100px; }
.vtLine span { display:inline-block; border-left:2px dashed #035ba2; height:70%; _width:70%; font-size:0; line-height:0; }
.vtLine span { +width:50px; }
/*----*/

/*-- Font/Colors--*/
.font12, .font12 span { font-size:12px; }
.italic, .italic span{ font-style:italic; }
.colorRed, .colorRed span{ color:#b10001; }
.colorGreen, .colorGreen span{ color:#026804; }
.colorBlue, .colorBlue span{ color:#035ba2; }
/*----*/

/*-- Margin --*/
.marginTop{ margin-top:5px; }
.marginLeft{ margin-left:5px; }
/*----*/

/*-- Others --*/
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.ellipsis { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }

.mainLeft, .mainRight{ float:left; width:250px;}
.mainLeft { overflow:auto; border:1px solid #8ebbda; border-left:none; border-bottom:none; border-top:none; height:561px; }
.mainRight { overflow:hidden; border:none; }
.mainHalf { float:left; margin-left:5px; width:250px; height:585px; overflow:hidden; border:1px solid #8ebbda;  _display:inline; }
.mainHalf .halfContent { height:578px; overflow:auto; }
.mainHalf .functionBannerDiv{ margin-top:-1px; }
/*----*/
